##################################################
#### List of Needed Internal Tools
##################################################

# certPlay Tool From Specific Tag (Remove @ String for Main Branch); Public Repo
git+https://github.com/impratikjaiswal/certPlay@v2.2.1

# certPlay Tool From Local Path
# D:\Other\Github_Self\certPlay

# excelPlay Tool From Specific Tag (Remove @ String for Main Branch); Public Repo
git+https://github.com/impratikjaiswal/excelPlay@v2.4.5

# excelPlay Tool From Local Path
# D:\Other\Github_Self\excelPlay

# tlvPlay Tool From Specific Tag (Remove @ String for Main Branch); Public Repo
git+https://github.com/impratikjaiswal/tlvPlay@v4.2.3

# tlvPlay Tool From Local Path
# D:\Other\Github_Self\tlvPlay

# qrPlay Tool From Specific Tag (Remove @ String for Main Branch); Public Repo
git+https://github.com/impratikjaiswal/qrPlay@v3.1.4

# qrPlay Tool From Local Path
# D:\Other\Github_Self\qrPlay

# asn1Play Tool From Specific Tag (Remove @ String for Main Branch); Public Repo
git+https://github.com/impratikjaiswal/asn1play@v8.4.0

# asn1Play Tool From Local Path
# D:\Other\Github_Self\asn1Play
