##################################################
#### List of Needed External Tools / Libraries (Names Only)
##################################################

# Flask
flask

# Flask Sitemapper
# https://pypi.org/project/flask-sitemapper/
flask-sitemapper

# Gunicorn (For Prod)
gunicorn

# For Https
certbot-nginx