{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to FlaskBlog {% endblock %}</h1>
    <h3>Sample 1: Last is selected</h3>
    <select name=colours method="GET" action="/">
        {% for colour in colours %}
            <option value="{{ colour }}" SELECTED>{{ colour }}</option>"
        {% endfor %}
    </select>
    <BR>
    <h3>Sample 2: First is selected</h3>
    <select name="colour" method="GET" action="/">
        <option value="{{ colours[0] }}" selected>{{ colours[0] }}</option>
        {% for colour in colours[1:] %}
            <option value="{{ colour }}">{{ colour }}</option>
        {% endfor %}
    </select>
    <h3>Sample 3: specific is selected</h3>
    <select name="colour" method="GET" action="/">
        {% for colour in colours %}
            {% if colour == default_colour %}
                <option value="{{ colour }}" SELECTED>{{ colour }}</option>"
            {% else %}
                <option value="{{ colour }}">{{ colour }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <h3>Sample 4: With-out method & action</h3>
    <select name="colour">
        {% for colour in colours %}
            <option value="{{ colour }}">{{ colour }}</option>
        {% endfor %}
    </select>
    <h3>Sample 5: Live Search </h3>
    <select name=colours class="selectpicker" data-live-search="true">
        {% for colour in colours %}
            <option value="{{ colour }}">{{ colour }}</option>"
        {% endfor %}
    </select>
{% endblock %}