{# Common Content #}
{% extends 'base.html' %}
<!-- Page Specific Description -->
{% block description %}{{ app_description }}{% endblock %}
<!-- Page Specific CSS -->
{% block page_specific_css %}
{% endblock %}
<!-- Page Specific Title -->
{% block title %}{{ app_title }}{% endblock %}
<!-- Page Specific Canonical URL -->
{% block page_specific_canonical_url %}
{% endblock %}
{# Page Specific Content #}
{% block content %}
    <h1>It looks like you got lost... Or we're trying to confuse you...</h1>
    <BR>
    <BR>
    <BR>
    <div class="div-404">
        <h1>404</h1>
        <p>{{ app_description }}</p>
        <p>That can happen when you follow a link to something that has since been deleted. Or the link was incorrect to
            begin with.</p>
        <p>Sorry about that. We've logged the error for review, in case it's our fault.</p>
        <a href="/">Let us take you to home !!!</a>
    </div>
{% endblock %}
<!-- Page Specific Stats Counter -->
{% block page_specific_stats_counter %}
    <script type='text/javascript'
            src='https://www.freevisitorcounters.com/auth.php?id=9dfac25c8ad18a6ed59d591f2e25be1b295b3888'></script>
    <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/1232641/t/5"></script>
{% endblock %}
<!-- Page Specific JS -->
{% block page_specific_js %}
{% endblock %}
