{# Common Content #}
{% extends 'base.html' %}
<!-- Page Specific Description -->
{% block description %}{{ app_description }}{% endblock %}
<!-- Page Specific CSS -->
{% block page_specific_css %}
{% endblock %}
<!-- Page Specific Title -->
{% block title %}{{ app_title }}{% endblock %}
<!-- Page Specific Canonical URL -->
{% block page_specific_canonical_url %}
    <link rel="canonical" href="https://amenitypj.in/aboutUs"/>
{% endblock %}
{# Page Specific Content #}
{% block content %}
    {% include 'components/header.html' %}
    Follow us on:
    <ul>
        <li class="nav-item">
            <a class="nav-link nav-link-page" href="{{ app_github_url }}" target="_blank"
               rel="noopener noreferrer">Github</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-page" href="{{ app_github_pages_url }}" target="_blank"
               rel="noopener noreferrer">Github Pages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-page" href="https://www.linkedin.com/in/impratikjaiswal" target="_blank"
               rel="noopener noreferrer">Linkedin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-page" href="https://stackoverflow.com/users/5073483/impratik" target="_blank"
               rel="noopener noreferrer">Stackoverflow</a>
        </li>
    </ul>
{% endblock %}
<!-- Page Specific Stats Counter -->
{% block page_specific_stats_counter %}
    <script type='text/javascript'
            src='https://www.freevisitorcounters.com/auth.php?id=5344ba753f658c5fc34e0bb93f1ef7db9455ccab'></script>
    <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/1232639/t/3"></script>
{% endblock %}
<!-- Page Specific JS -->
{% block page_specific_js %}
{% endblock %}
