<!doctype html>
<html lang="en">
    <head>
        <!-- Meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block description %} {% endblock %}">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/bootstrap.min_formatted.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/bootstrap.min_formatted_custom.css') }}">
        <title>{% block title %} {% endblock %}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='/images/favicon.ico') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('index')}}">{{title_for('index')}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"/>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <!--             <li class="nav-item active"> -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('asn1_play')}}">{{title_for('asn1_play')}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('tlv_play')}}">{{title_for('tlv_play')}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('qr_play')}}">{{title_for('qr_play')}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('excel_play')}}">{{title_for('excel_play')}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('testimonials')}}">{{title_for('testimonials')}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('about_us')}}">{{title_for('about_us')}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('sponsorship')}}">{{title_for('sponsorship')}}</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
            {% block content %} {% endblock %}
        </div>
        <!-- JavaScripts -->
        <!-- Option 2: Separate Popper and Bootstrap JS -->
		<!-- Jquery (with Ajax) Script -->
        <script src="{{ url_for('static', filename='/js/jquery-3.5.1.min_formatted.js') }}"></script>
		<!-- Pooper Script -->
        <script src="{{ url_for('static', filename='/js/popper-1.16.1.min_formatted.js') }}"></script>
		<!-- Bootstrap Script -->
        <script src="{{ url_for('static', filename='/js/bootstrap-4.6.2.min_formatted.js') }}"></script>
        <!-- Custom Script -->
        <script src="{{ url_for('static', filename='/js/custom.js') }}"></script>
        <!-- Page Specific Script -->
        {% block page_specific_script %} {% endblock %}
    </body>
</html>