<!doctype html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block description %} {% endblock %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='/css/bootstrap-4.6.2.min_formatted.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='/css/bootstrap-4.6.2.min_formatted_custom.css') }}">
    <!-- Bootstrap Select CSS -->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='/css/bootstrap-select-1.13.14.min_formatted.css') }}">
    <title>{% block title %} {% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='/images/favicon.ico') }}">
</head>
<!-- <body class="{ % if app_parent_title %}body-navbar-2 { % else %}body-navbar-1 { % endif %}"> -->
<body>
<!-- <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top"> -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('index') }}">{{ title_for('index') }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"/>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="container">
            <ul class="navbar-nav">
                <!--             <li class="nav-item active"> -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('asn1_play') }}">{{ title_for('asn1_play') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('tlv_play') }}">{{ title_for('tlv_play') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('qr_play') }}">{{ title_for('qr_play') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('excel_play') }}">{{ title_for('excel_play') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('cert_play') }}">{{ title_for('cert_play') }}</a>
                </li>
            </ul>
        </div>
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('testimonials') }}">{{ title_for('testimonials') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about_us') }}">{{ title_for('about_us') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('credits_') }}">{{ title_for('credits_') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('sponsorship') }}">{{ title_for('sponsorship') }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        {% if app_parent_title %}
            <!-- <nav class="navbar navbar-expand-md navbar-inverse bg-light fixed-top fixed-top-2"> -->
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <a class="navbar-brand navbar-brand-2" href="{{ url_for(request.endpoint) }}">{{ app_title }}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavApps"
                        aria-controls="navbarNavApps" aria-expanded="false" aria-label="Toggle navigation Apps">
                    <span class="navbar-toggler-icon"/>
                </button>
                <div class="sidebar-sticky pt-3" id="navbarNavApps">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for(request.endpoint, api=True) }}">Get API</a>
                        </li>
                        {% for nav_bar_app_item in nav_bar_app_items %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ nav_bar_app_item['url'] }}" target="_blank"
                                   rel="noopener noreferrer">{{ nav_bar_app_item['text'] }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        {% endif %}
        <!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4"> -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 ">
            <div class="container">
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}
                {% block content %} {% endblock %}
            </div>
        </main>
    </div>
</div>
<!-- JavaScripts -->
<!-- Option 2: Separate Popper and Bootstrap JS -->
<!-- Jquery (with Ajax) Script -->
<script src="{{ url_for('static', filename='/js/jquery-3.5.1.min_formatted.js') }}"></script>
<!-- Pooper Script -->
<script src="{{ url_for('static', filename='/js/popper-1.16.1.min_formatted.js') }}"></script>
<!-- Bootstrap Script -->
<script src="{{ url_for('static', filename='/js/bootstrap-4.6.2.min_formatted.js') }}"></script>
<!-- Bootstrap Select Script -->
<script src="{{ url_for('static', filename='/js/bootstrap-select-1.13.14.min_formatted.js') }}"></script>
<!-- Custom Script -->
<script src="{{ url_for('static', filename='/js/custom.js') }}"></script>
<!-- Page Specific Script -->
{% block page_specific_script %} {% endblock %}
{#
TODO:
<!-- Script to send objects to Js-->
<script type="text/javascript">
    myVar = htmlToJs({{output_data|tojson}})
</script>
#}
</body>
</html>