<div class="form-group">
    <button type="submit" id="process_input" name="process_input" class="btn btn-primary">Submit</button>
    <button type="submit" id="process_reset" name="process_reset" class="btn btn-primary" disabled>Reset
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" id="process_copy_clipboard" name="process_copy_clipboard" class="btn btn-secondary">
        Copy Output
    </button>
    <button type="submit" id="process_download_output" name="process_download_output" class="btn btn-secondary"
            disabled>Download Output
    </button>
    <button type="submit" id="process_download_yml" name="process_download_yml" class="btn btn-secondary"
            disabled>Download Yml
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% if input_formats and output_formats %}
        <button type="submit" id="process_re_parse_output" name="process_re_parse_output" class="btn btn-secondary">
            Flip Output
        </button>
    {% endif %}
</div>
