{# Common Content #}
{% extends 'base.html' %}
<!-- Page Specific Description -->
{% block description %}{{ app_description }}{% endblock %}
<!-- Page Specific CSS -->
{% block page_specific_css %}
{% endblock %}
<!-- Page Specific Title -->
{% block title %}{{ app_title }}{% endblock %}
<!-- Page Specific Canonical URL -->
{% block page_specific_canonical_url %}
{% endblock %}
{# Page Specific Content #}
{% block content %}
    {% include 'components/header.html' %}
    <BR>
    <div>
        <h5 class="display-inline">Day to Day Users</h5> — Who motivates us to keep running !!!
    </div>
    <BR>
    <div>
        <h5 class="display-inline">Feedback Providers / Validators (Offline)</h5> — Who keeps on providing feedback
        offline and helps in creation of better product !!!
    </div>
    <BR>
    <div>
        <h5 class="display-inline">Feedback Providers (Online)</h5> — Who covers an extra mile and provides us feedback
        on GitHub to make a better product !!!
        {# Calculate List Length #}
        {% set issue_contributors_count = issue_contributors|length %}
        {# Set Max Item in a Row #}
        {% set max_item_in_a_row = 4 %}
        {% for issue_contributor in issue_contributors %}
            {% if loop.index0 % max_item_in_a_row == 0 %}
                {# New Row should be started for 0, 2, 4 (when max item is 2) #}
                <div class="form-row">
            {% endif %}
        <div class="form-group col">
            {# TODO: class="nav-link nav-link-page-image" #}
            <a class="nav-link" href="{{ issue_contributor['html_url'] }}" target="_blank" rel="noopener noreferrer">
                <img src="{{ issue_contributor['avatar_url'] }}" alt="{{ issue_contributor['login'] }}"
                        {# TODO: class="img-credits img-credits-github" #}
                     class="img-credits"/>
                {{ issue_contributor['login'] }}
            </a>
        </div>
        {% if loop.index % max_item_in_a_row == 0 %}
            {# Row should be closed for 1, 3, 5 (when max item is 2) #}
            </div>
        {% endif %}
        {% endfor %}
        {% if issue_contributors_count % max_item_in_a_row != 0 %}
            {% for missing_count in range(max_item_in_a_row - (issue_contributors_count % max_item_in_a_row)) %}
                {# Empty div so that div col are aligned #}
                <div class="form-group col">
                </div>
            {% endfor %}
            </div>
        {% endif %}
    <div>
        <h5 class="display-inline">Third Party Free (and/or open source) Products</h5> — Which continuously helping in
        shaping the product !!!
        {# Max Item in a Row is 2 #}
        <div class="form-row">
            <div class="form-group col">
                <a class="nav-link" href="https://github.com/" target="_blank"
                   rel="noopener noreferrer">
                    <img src="https://github.githubassets.com/assets/pinned-octocat-093da3e6fa40.svg"
                         alt="Github" class="img-credits img-credits-github"/>
                    Github
                </a>
            </div>
            <div class="form-group col">
                <a class="nav-link" href="https://jb.gg/OpenSourceSupport" target="_blank"
                   rel="noopener noreferrer">
                    <img src="https://resources.jetbrains.com/storage/products/company/brand/logos/jetbrains.png"
                         alt="Jet Brains" class="img-credits"/>
                    JetBrains - Open Source Support
                </a>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <a class="nav-link" href="https://letsencrypt.org/" target="_blank"
                   rel="noopener noreferrer">
                    <img src="https://letsencrypt.org/images/le-logo-twitter-noalpha.png"
                         alt="Let's Encrypt" class="img-credits img-credits-lets-encrypt"/>
                    Let's Encrypt
                </a>
            </div>
            <div class="form-group col">
                <a class="nav-link" href="https://pixabay.com/" title="images"
                   target="_blank" rel="noopener noreferrer">
                    <img src="https://pixabay.com/static/img/logo_square.png"
                         alt="pixabay" class="img-credits img-credits-pixabay"/>
                    Free Images - Pixabay
                </a>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <a class="nav-link" href="https://www.flaticon.com/icons" title="icons"
                   target="_blank" rel="noopener noreferrer">
                    <img src="https://www.flaticon.com/media/dist/min/img/logo/flaticon_positive.svg"
                         alt="Flaticon" class="img-credits"/>
                    Free icons - Flaticon
                </a>
            </div>
            {# Empty div so that div col are aligned #}
            <div class="form-group col">
            </div>
        </div>
    </div>
{% endblock %}
<!-- Page Specific Stats Counter -->
{% block page_specific_stats_counter %}
    <script type='text/javascript'
            src='https://www.freevisitorcounters.com/auth.php?id=9dfac25c8ad18a6ed59d591f2e25be1b295b3888'></script>
    <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/1232641/t/5"></script>
{% endblock %}
<!-- Page Specific JS -->
{% block page_specific_js %}
{% endblock %}