{# Common Content #}
{% extends 'base.html' %}
{% block description %}{{ app_description }}{% endblock %}
{% block title %}{{ app_title }}{% endblock %}
{# Page Specific Content #}
{% block content %}
    {% include 'header.html' %}
    <ul>
        <li class="form-group">
            <a class="nav-link nav-link-page-image" href="https://github.com/" target="_blank"
               rel="noopener noreferrer">
                <img src="https://github.githubassets.com/assets/pinned-octocat-093da3e6fa40.svg"
                     alt="Github" class="img-credits img-credits-github"/>
                Github
            </a>
        </li>
        <li class="form-group">
            <a class="nav-link nav-link-page-image" href="https://jb.gg/OpenSourceSupport" target="_blank"
               rel="noopener noreferrer">
                <img src="https://resources.jetbrains.com/storage/products/company/brand/logos/jetbrains.png"
                     alt="Jet Brains" class="img-credits"/>
                JetBrains - Open Source Support
            </a>
        </li>
        <li class="form-group">
            <a class="nav-link nav-link-page-image" href="https://letsencrypt.org/" target="_blank"
               rel="noopener noreferrer">
                <img src="https://letsencrypt.org/images/le-logo-twitter-noalpha.png"
                     alt="Let's Encrypt" class="img-credits img-credits-lets-encrypt"/>
                Let's Encrypt
            </a>
        </li>
        <li class="form-group">
            <a class="nav-link nav-link-page-image" href="https://pixabay.com/" title="images"
               target="_blank" rel="noopener noreferrer">
                <img src="https://pixabay.com/static/img/logo_square.png"
                     alt="pixabay" class="img-credits img-credits-pixabay"/>
                Free Images - Pixabay
            </a>
        </li>
        <li class="form-group">
            <a class="nav-link nav-link-page-image" href="https://www.flaticon.com/icons" title="icons"
               target="_blank" rel="noopener noreferrer">
                <img src="https://www.flaticon.com/media/dist/min/img/logo/flaticon_positive.svg"
                     alt="Flaticon" class="img-credits"/>
                Free icons - Flaticon
            </a>
        </li>

    </ul>
{% endblock %}
