<div>
    <h1 class="display-inline"> {{ app_title_pre }} {{ app_title }} {{ app_version }} {{ app_title_post }}</h1>
    <h5 class="display-inline"> {{ app_parent_title }} {{ app_parent_version }} </h5>
    <h6 class="display-inline"> {{ app_host }} </h6>
    {% if app_git_summary %}
        <a class="very-small a-float-right" data-toggle="collapse" href="#gitInfoCollapse" role="button"
           aria-expanded="false" aria-controls="gitInfoCollapse">Git Info</a>
        <BR>
        <div class="collapse very-small right" id="gitInfoCollapse">{{ app_git_summary }}</div>
    {% endif %}
    {% if app_github_pages_url %}
        <a href="{{ app_github_pages_url }}" rel="noopener noreferrer" target="_blank">
            <span class="badge badge-success">@Github</span>
        </a>
    {% endif %}
    {% if samples %}
        <a href="#samples_section" rel="noopener noreferrer">
            <span class="badge badge-info">Jump To Samples</span>
        </a>
    {% endif %}
    <BR>
    <div><h6>{{ app_description }}</h6></div>
    <div><h3>{{ app_description_level_2 }}</h3></div>
</div>