<!-- Common Content -->
{% extends 'base.html' %}
{% block description %}{{app_description}}{% endblock %}
{% block title %}{{app_title}}{% endblock %}
<!-- Page Specific Content -->
{% block content %}
    <h1>Welcome to {{app_title}} {{app_version}}</h1>
    <a href="{{app_github_url}}" rel="noopener noreferrer" target="_blank">
        <span class="badge badge-success">@Github</span>
    </a>
    <BR>
    <h6>{{app_description}}</h6>
    <ul>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('asn1_play')}}" target="_blank"
               rel="noopener noreferrer">ASN1 Play</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('tlv_play')}}" target="_blank"
               rel="noopener noreferrer">TLV Play</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('qr_play')}}" target="_blank"
               rel="noopener noreferrer">QR Play</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('excel_play')}}" target="_blank"
               rel="noopener noreferrer">Excel Play</a>
        </li>
    </ul>
{% endblock %}