{# Common Content #}
{% extends 'base.html' %}
{% block description %}{{ app_description }}{% endblock %}
{% block title %}{{ app_title }}{% endblock %}
{# Page Specific Content #}
{% block content %}
    {% include 'components/header.html' %}
    <div>
        <ul>
            <li class="nav-item">
                <a class="nav-link nav-link-page" href="{{ url_for('asn1_play') }}" target="_blank"
                   rel="noopener noreferrer">ASN1 Play</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-page" href="{{ url_for('tlv_play') }}" target="_blank"
                   rel="noopener noreferrer">TLV Play</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-page" href="{{ url_for('qr_play') }}" target="_blank"
                   rel="noopener noreferrer">QR Play</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-page" href="{{ url_for('excel_play') }}" target="_blank"
                   rel="noopener noreferrer">Excel Play</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-page" href="{{ url_for('cert_play') }}" target="_blank"
                   rel="noopener noreferrer">Cert Play</a>
            </li>
        </ul>
        <BR>
        <hr/>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
        <div class="col-auto">
            <a data-toggle="collapse" href="#upcomingReleaseCollapse" role="button" aria-expanded="false"
               aria-controls="upcomingReleaseCollapse">
                Upcoming Release
            </a>
        </div>
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="collapse" id="upcomingReleaseCollapse">
        <div class="card card-body">
            Thanks for helping us with our future release of {{ app_title }}!
            <BR>
            <BR>
            <p class="text-danger">
                WARNING: These software(s) has passed our basic testing, but likely has many bugs. Do not use it on
                important data unless you have a backup!
            </p>
            <a href="{{ app_github_url }}/issues" rel="noopener noreferrer" target="_blank">Let us know if you find
                problems.</a>
            <ul>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="https://beta.amenitypj.in/" target="_blank"
                       rel="noopener noreferrer">Beta Release</a>
                </li>
            </ul>
            <BR>
            <p class="text-success">
                INFO: You can always switch back to Stable Release/Production version!
            </p>
            <ul>
                <li class="nav-item">
                    <a class="nav-link text-success" href="https://amenitypj.in/" target="_blank"
                       rel="noopener noreferrer">Prod Release</a>
                </li>
            </ul>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            <hr>
        </div>
        <div class="col-auto">
            <a data-toggle="collapse" href="#previousReleaseCollapse" role="button" aria-expanded="false"
               aria-controls="previousReleaseCollapse">
                Previous Release
            </a>
        </div>
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="collapse" id="previousReleaseCollapse">
        <div class="card card-body">
            Got an issue with current release? Switch back to previous release of {{ app_title }}!
            <BR>
            <BR>
            <a href="{{ app_github_url }}/issues" rel="noopener noreferrer" target="_blank">Let us know if you find
                problems.</a>
            <ul>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="https://past.amenitypj.in/" target="_blank"
                       rel="noopener noreferrer">Past Release</a>
                </li>
            </ul>
            <BR>
            <p class="text-success">
                INFO: You can always switch back to Stable Release/Production version!
            </p>
            <ul>
                <li class="nav-item">
                    <a class="nav-link text-success" href="https://amenitypj.in/" target="_blank"
                       rel="noopener noreferrer">Prod Release</a>
                </li>
            </ul>
        </div>
    </div>
    <hr/>
{% endblock %}