{# Common Content #}
{% extends 'base.html' %}
<!-- Page Specific Description -->
{% block description %}{{ app_description }}{% endblock %}
<!-- Page Specific CSS -->
{% block page_specific_css %}
{% endblock %}
{# Page Specific Content #}
{% block content %}
    {% include 'components/header.html' %}
    <form method=post>
        <dl>
            <dt>Username:
            <dd><input type=text name=username value="{{ request.form.username }}">
            <dt>Password:
            <dd><input type=password name=password>
        </dl>
        <p><input type=submit value=Login>
    </form>
{% endblock %}
<!-- Page Specific JS -->
{% block page_specific_js %}
{% endblock %}
