<nav class="navbar navbar-expand-md navbar-inverse bg-light fixed-top fixed-top-2">
    <a class="navbar-brand" href="{{ url_for(request.endpoint) }}">{{ app_title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavApps"
        aria-controls="navbarNavApps" aria-expanded="false" aria-label="Toggle navigation Apps">
        <span class="navbar-toggler-icon"/>
    </button>
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNavApps">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">3</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
