<a href="#samples_section" rel="noopener noreferrer">
    <span class="badge badge-info">Jump To Samples</span>
</a>
<div id="info_data">
    <label for="info_data">Info</label>
    <div id="info_statement" class="div-output">
        <pre>{{ info_data }}</pre>
    </div>
</div>
<div id="output_data">
    <label for="output_data">Output Data</label>
    <div class="badge float-right">
        Length: <span id="output_data_char_count">0</span>
    </div>
    <div id="output_statement" class="div-output">
        <pre>{{ output_data }}</pre>
    </div>
</div>
{% if app_title == 'QR Play' %}
    <div id="output_data_images">
        <label for="output_data_images">QrCode Images</label>
        <div id="output_statement_2" class="div-output">
            {% for qr_image in output_data %}
                <img src="{{ qr_image }}"><br>
            {% endfor %}
        </div>
    </div>
{% endif %}
<div>
    <a href="{{ app_github_url }}/issues" rel="noopener noreferrer" target="_blank">
        <span class="badge badge-danger">Suspicious Result ? !!! Raise an issue !!!</span>
    </a>
    <a href="{{ app_github_url }}/discussions" rel="noopener noreferrer" target="_blank">
        <span class="badge badge-warning">Need Help ? or Have a Feedback ? !!! All Ears !!!</span>
    </a>
    <a href="{{ app_github_url }}/discussions/new?category=ideas" rel="noopener noreferrer" target="_blank">
        <span class="badge badge-success">Got an Idea ? !!! Let's Discuss !!! </span>
    </a>
</div>
