<a href="#samples_section" rel="noopener noreferrer">
    <span class="badge badge-info">Jump To Samples</span>
</a>
<div id="info_data">
    <label for="info_data">Info</label>
    <div id="info_statement" class="div-output">
        <pre>{{ info_data }}</pre>
    </div>
</div>
<div id="output_data">
    <label for="output_data">Output Data</label>
    <div class="badge float-right">
        Length: <span id="output_data_char_count">0</span>
    </div>
    <div id="output_statement" class="div-output">
        <pre>{{ output_data }}</pre>
    </div>
</div>
