{# Common Content #}
{% extends 'base.html' %}
<!-- Page Specific Description -->
{% block description %}{{ app_description }}{% endblock %}
<!-- Page Specific CSS -->
{% block page_specific_css %}
{% endblock %}
<!-- Page Specific Title -->
{% block title %}{{ app_title }}{% endblock %}
<!-- Page Specific Canonical URL -->
{% block page_specific_canonical_url %}
    <link rel="canonical" href="https://amenitypj.in/asn1Play"/>
{% endblock %}
{# Page Specific Content #}
{% block content %}
    {% include 'components/header.html' %}
{% endblock %}
<!-- Page Specific Stats Counter -->
{% block page_specific_stats_counter %}
    <script type='text/javascript'
            src='https://www.freevisitorcounters.com/auth.php?id=c28ad7357e9fa5df51ec1083a1efe5cd515df5ab'></script>
    <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/1232643/t/9"></script>
{% endblock %}
<!-- Page Specific JS -->
{% block page_specific_js %}
    <script src="{{ url_for('static', filename='/js/formatted/apj_asn1Play.js') }}"></script>
{% endblock %}