{# Common Content #}
{% extends 'base.html' %}
<!-- Page Specific Description -->
{% block description %}{{ app_description }}{% endblock %}
<!-- Page Specific CSS -->
{% block page_specific_css %}
{% endblock %}
<!-- Page Specific Title -->
{% block title %}{{ app_title }}{% endblock %}
{# Page Specific Content #}
{% block content %}
    <h2>{% block title %}{{ testimonial_post['title'] }}{% endblock %}</h2>
    <span class="badge badge-primary">{{ testimonial_post['created'] }}</span>
    <span class="badge badge-warning">{{ testimonial_post['publisher'] }}</span>
    <p>{{ testimonial_post['content'] }}</p>
{% endblock %}
<!-- Page Specific JS -->
{% block page_specific_js %}
{% endblock %}