<div class="form-group col">
    <div class="form-check">
        {% if length_in_decimal %}
            <input type="checkbox" name="length_in_decimal" class="form-check-input"
                   value="{{ length_in_decimal }}" checked>
        {% else %}
            <input type="checkbox" name="length_in_decimal" class="form-check-input"
                   value="{{ length_in_decimal }}">
        {% endif %}
        <label for="length_in_decimal" class="form-check-label">Length In Decimal</label>
    </div>
</div>