{# Common Content #}
{% extends 'base.html' %}
<!-- Page Specific Description -->
{% block description %}{{ app_description }}{% endblock %}
<!-- Page Specific CSS -->
{% block page_specific_css %}
{% endblock %}
{# Page Specific Content #}
{% block content %}
    {% include 'components/header.html' %}
    <p align="center">
        <BR>
        <BR>
        <BR>
        <img src="{{ url_for('static', filename='images/wip-1/640_640.png') }}"/>
    </p>
{% endblock %}
<!-- Page Specific JS -->
{% block page_specific_js %}
{% endblock %}