<!-- Common Content -->
{% extends 'base.html' %}
{% block description %}{{ app_description }}{% endblock %}
{% block title %}{{ app_title }}{% endblock %}
<!-- Page Specific Content -->
{% block content %}
    <h1>{{ app_title }} - Work In Progress</h1>
    <a href="{{ app_github_pages_url }}" rel="noopener noreferrer" target="_blank">
        <span class="badge badge-success">@Github</span>
    </a>
    <BR>
    <h6>{{ app_description }}</h6>
    <p align="center">
        <BR>
        <BR>
        <BR>
        <img src="{{ url_for('static', filename='/images/work-98936_640.png') }}"/>
    </p>
{% endblock %}