{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Create a New Post {% endblock %}</h1>

    <form method="post">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="submit" class="btn btn-secondary">Submit</button>
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="submit" class="btn btn-info">Submit</button>
            <button type="submit" class="btn btn-warning">Submit</button>
            <button type="submit" class="btn btn-danger">Submit</button>
            <button type="submit" class="btn btn-light">Submit</button>
            <button type="submit" class="btn btn-dark">Submit</button>
            <button type="submit" class="btn btn-link">Submit</button>
            <button type="submit" class="btn btn-block">Submit</button>
            <button type="submit" class="btn btn-toolbar">Submit</button>
        </div>
    </form>
{% endblock %}