{# Common Content #}
{% extends 'base.html' %}
<!-- Page Specific Description -->
{% block description %}{{ app_description }}{% endblock %}
<!-- Page Specific CSS -->
{% block page_specific_css %}
{% endblock %}
<!-- Page Specific Title -->
{% block title %}{{ app_title }}{% endblock %}
{% block page_specific_canonical_url %}
    <link rel="canonical" href="https://amenitypj.in/asn1Play" />
{% endblock %}
{# Page Specific Content #}
{% block content %}
    {% include 'components/header.html' %}
    <form method="post">
        {% include 'components/input_data.html' %}
        <div class="form-row">
            {% include 'components/input_format.html' %}
            {% include 'components/asn_output_format.html' %}
            {% include 'components/asn_tlv_parsing_of_output.html' %}
        </div>
        <div class="form-row">
            {% include 'components/asn_asn1_schema.html' %}
            {% include 'components/asn_asn1_object.html' %}
            {% include 'components/asn_asn1_object_others.html' %}
        </div>
        <div class="form-group right">
            <!-- TODO: Font Size can be reduced -->
            <i><B>Tip:</B> If "Asn1 Object" drop down list is empty or required object is not listed, try "Asn1 Object
                Alternate" !!!</i><BR>
        </div>
        {% include 'components/asn_fetch_asn1_objects_list.html' %}
        {% include 'components/remarks.html' %}
        {% include 'components/button.html' %}
        {% include 'components/output_data.html' %}
        {% include 'components/sample_data.html' %}
    </form>
{% endblock %}
<!-- Page Specific JS -->
{% block page_specific_js %}
    <script src="{{ url_for('static', filename='/js/formatted/apj_asn1Play.js') }}"></script>
{% endblock %}