{# Common Content #}
{% extends 'base.html' %}
{% block description %}{{ app_description }}{% endblock %}
{% block title %}{{ app_title }}{% endblock %}
{# Page Specific Content #}
{% block content %}
    {% include 'components/header.html' %}
    <form method="post">
        {% include 'components/input_data.html' %}
        <div class="form-row">
            {% include 'components/input_format.html' %}
            &nbsp;&nbsp;&nbsp;
            <div class="form-group">
                <a href="#" class="image" data-toggle="tooltip" data-placement="top" title="Swap I/O Formats">
                    <img id="swap_input_output_format" class="btn-image-initial btn-image-with-other-components"
                         alt="Swap I/O Formats"
                         src={{ url_for('static', filename='/images/swap-left-right-1/16_16.png') }}>
                </a>
            </div>
            &nbsp;&nbsp;&nbsp;
            {% include 'components/asn_output_format.html' %}
            &nbsp;&nbsp;&nbsp;
            {% include 'components/asn_tlv_parsing_of_output.html' %}
        </div>
        <div class="form-row">
            {% include 'components/asn_asn1_schema.html' %}
            {% include 'components/asn_asn1_object.html' %}
            {% include 'components/asn_asn1_object_others.html' %}
        </div>
        <div class="form-group right">
            <!-- TODO: Font Size can be reduced -->
            <i><B>Tip:</B> If "Asn1 Object" drop down list is empty or required object is not listed, try "Asn1 Object
                Alternate" !!!</i><BR>
        </div>
        {% include 'components/asn_fetch_asn1_objects_list.html' %}
        {% include 'components/remarks.html' %}
        {% include 'components/button.html' %}
        {% include 'components/output_data.html' %}
        {% include 'components/sample_data.html' %}
    </form>
{% endblock %}
{# Page Specific Script #}
{#{% block page_specific_script %}#}
{#{% endblock %}#}