{# Common Content #}
{% extends 'base.html' %}
<!-- Page Specific Description -->
{% block description %}{{ app_description }}{% endblock %}
<!-- Page Specific CSS -->
{% block page_specific_css %}
{% endblock %}
{# Page Specific Content #}
{% block content %}
    {% include 'components/header.html' %}
    <form method="post">
        {% include 'components/input_data.html' %}
        <div class="form-row">
            {% include 'components/input_format.html' %}
            {% include 'components/cert_url_time_out.html' %}
            {% include 'components/cert_url_pre_access.html' %}
        </div>
        {% include 'components/remarks.html' %}
        {% include 'components/button.html' %}
        {% include 'components/output_data.html' %}
        {% include 'components/sample_data.html' %}
    </form>
{% endblock %}
<!-- Page Specific JS -->
{% block page_specific_js %}
{% endblock %}
