<!-- Common Content -->
{% extends 'base.html' %}
{% block description %}{{ app_description }}{% endblock %}
{% block title %}{{ app_title }}{% endblock %}
<!-- Page Specific Content -->
{% block content %}
    <h1 class="display-inline"> Welcome to {{ app_title }} {{ app_version }} </h1>
    <a class="very-small" data-toggle="collapse" href="#gitInfoCollapse" role="button" aria-expanded="false"
       aria-controls="gitInfoCollapse">Git Info</a>
    <BR>
    <div class="collapse very-small" id="gitInfoCollapse">{{ app_git_summary }}</div>
    <a href="{{ app_github_pages_url }}" rel="noopener noreferrer" target="_blank">
        <span class="badge badge-success">@Github</span>
    </a>
    <a href="#samples_section" rel="noopener noreferrer">
        <span class="badge badge-info">Jump To Samples</span>
    </a>
    <BR>
    <h6>{{ app_description }}</h6>
    <form method="post">
        <div class="form-group">
            <label for="raw_data">Input Data</label>
            <textarea name="raw_data" placeholder="Input Data" class="form-control"
                      id="raw_data" rows="3">{{ raw_data }}</textarea>
            <div class="badge float-right">
                Length: <span id="raw_data_char_count">0</span>
            </div>
        </div>
        <div class="form-group">
            <label for="input_format">Input Format</label>
            <select name="input_format" class="form-control selectpicker" data-live-search="true"
                    placeholder="Input Format" id="input_format">
                {% for input_format in input_formats %}
                    <option value="{{ input_format }}" {{ is_selected_input_format(input_format, selected_input_format) }}>{{ input_format }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="remarks_list">Remarks</label>
            <input type="text" name="remarks_list" placeholder="Remarks" class="form-control"
                   value="{{ remarks_list }}">
        </div>
        <div class="form-group">
            <button type="submit" id="process_input" name="process_input" class="btn btn-primary">Submit</button>
            <button type="submit" id="process_reset" name="process_reset" class="btn btn-primary" disabled>Reset
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" id="process_copy_clipboard" name="process_copy_clipboard" class="btn btn-secondary">
                Copy Output
            </button>
            <button type="submit" id="process_download_output" name="process_download_output" class="btn btn-secondary"
                    disabled>Download Output
            </button>
            <button type="submit" id="process_download_yml" name="process_download_yml" class="btn btn-secondary"
                    disabled>Download Yml
            </button>
        </div>
        <a href="#samples_section" rel="noopener noreferrer">
            <span class="badge badge-info">Jump To Samples</span>
        </a>
        <div id="output_data">
            <label for="output_data">Output Data</label>
            <div class="badge float-right">
                Length: <span id="output_data_char_count">0</span>
            </div>
            <div id="output_statement">
                <pre>{{ output_data }}</pre>
            </div>
        </div>
        <div id="debug_data_label">
        </div>
        <div id="debug_data">
        </div>
        <BR>
        <a href="#" rel="noopener noreferrer">
            <span class="badge badge-info">Jump To Input</span>
        </a>
        <h2>Need help getting started? Check our samples below!</h2>
        <div class="form-row" id="samples_section">
            <div class="form-group col">
                <label for="sample_data">Select A Sample</label>
                <select name="sample_data" class="form-control selectpicker" data-live-search="true" id="sample_data">
                    {% for sample in samples %}
                        <option value="{{ sample }}" {{ is_selected_sample(sample, selected_sample) }}>{{ sample }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col">
                <label for="sample_option">How the Sample should be processed ?</label>
                <select name="sample_option" class="form-control selectpicker" data-live-search="true"
                        id="sample_option">
                    {% for sample_option in sample_options %}
                        <option value="{{ sample_option }}" {{ is_selected_sample_option(sample_option, selected_sample_option) }}>{{ sample_option }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col">
                <BR>
                <button type="submit" name="sample_process" class="btn btn-success">Process Sample</button>
            </div>
        </div>
    </form>
{% endblock %}
<!-- Page Specific Script -->
{% block page_specific_script %}
{% endblock %}