{# Common Content #}
{% extends 'base.html' %}
<!-- Page Specific Description -->
{% block description %}{{ app_description }}{% endblock %}
<!-- Page Specific CSS -->
{% block page_specific_css %}
{% endblock %}
<!-- Page Specific Title -->
{% block title %}{{ app_title }}{% endblock %}
<!-- Page Specific Canonical URL -->
{% block page_specific_canonical_url %}
    <link rel="canonical" href="https://amenitypj.in/excelPlay"/>
{% endblock %}
{# Page Specific Content #}
{% block content %}
    {% include 'components/header.html' %}
    <form method="post" enctype="multipart/form-data">
        {% include 'components/excel_input_file.html' %}
        {% include 'components/remarks.html' %}
        {% include 'components/button.html' %}
        {% include 'components/output_data.html' %}
        {% include 'components/sample_data.html' %}
    </form>
{% endblock %}
<!-- Page Specific Stats Counter -->
{% block page_specific_stats_counter %}
    <script type='text/javascript'
            src='https://www.freevisitorcounters.com/auth.php?id=6539579995b2458ab23fc5b6c4ceebd7c17a9b47'></script>
    <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/1232634/t/0"></script>
{% endblock %}
<!-- Page Specific JS -->
{% block page_specific_js %}
    <script src="{{ url_for('static', filename='/js/formatted/apj_excelPlay.js') }}"></script>
{% endblock %}
