{# Common Content #}
{% extends 'base.html' %}
<!-- Page Specific Description -->
{% block description %}{{ app_description }}{% endblock %}
<!-- Page Specific CSS -->
{% block page_specific_css %}
{% endblock %}
<!-- Page Specific Title -->
{% block title %}{{ app_title }}{% endblock %}
{# Page Specific Content #}
{% block content %}
    {% include 'components/header.html' %}
    <form method="post" enctype="multipart/form-data">
        {% include 'components/excel_input_file.html' %}
        {% include 'components/remarks.html' %}
        {% include 'components/button.html' %}
        {% include 'components/output_data.html' %}
        {% include 'components/sample_data.html' %}
    </form>
{% endblock %}
<!-- Page Specific JS -->
{% block page_specific_js %}
    <script src="{{ url_for('static', filename='/js/formatted/apj_excelPlay.js') }}"></script>
{% endblock %}
