{# Common Content #}
{% extends 'base.html' %}
{% block description %}{{ app_description }}{% endblock %}
{% block title %}{{ app_title }}{% endblock %}
{# Page Specific Content #}
{% block content %}
    {% include 'header.html' %}
    <form method="post">
        {% include 'input_data.html' %}
        <div class="form-row">
            {% include 'qr_image_format.html' %}
            {% include 'qr_code_version.html' %}
            {% include 'qr_code_scale.html' %}
            {% include 'qr_split_qrs.html' %}
        </div>
        {% include 'remarks.html' %}
        {% include 'button.html' %}
        {% include 'output_data.html' %}
        {% include 'sample_data.html' %}
    </form>
{% endblock %}