{# Common Content #}
{% extends 'base.html' %}
<!-- Page Specific Description -->
{% block description %}{{ app_description }}{% endblock %}
<!-- Page Specific CSS -->
{% block page_specific_css %}
{% endblock %}
<!-- Page Specific Title -->
{% block title %}{{ app_title }}{% endblock %}
<!-- Page Specific Canonical URL -->
{% block page_specific_canonical_url %}
    <link rel="canonical" href="https://amenitypj.in/qrPlay"/>
{% endblock %}
{# Page Specific Content #}
{% block content %}
    {% include 'components/header.html' %}
    <form method="post">
        {% include 'components/input_data.html' %}
        <div class="form-row">
            {% include 'components/qr_image_format.html' %}
            {% include 'components/qr_code_version.html' %}
            {% include 'components/qr_code_scale.html' %}
            {% include 'components/qr_split_qrs.html' %}
        </div>
        {% include 'components/remarks.html' %}
        {% include 'components/button.html' %}
        {% include 'components/output_data.html' %}
        {% include 'components/sample_data.html' %}
    </form>
{% endblock %}
<!-- Page Specific Stats Counter -->
{% block page_specific_stats_counter %}
    <script type='text/javascript'
            src='https://www.freevisitorcounters.com/auth.php?id=e75f3460e58f2a32a1b7ab3ffab1b70e3466abe6'></script>
    <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/1232635/t/0"></script>
{% endblock %}
<!-- Page Specific JS -->
{% block page_specific_js %}
{% endblock %}