{# Common Content #}
{% extends 'base.html' %}
{% block description %}{{ app_description }}{% endblock %}
{% block title %}{{ app_title }}{% endblock %}
{# Page Specific Content #}
{% block content %}
    {% include 'header.html' %}
    <form method="post">
        {% include 'input_data.html' %}
        <div class="form-row">
            {% include 'tlv_length_in_decimal.html' %}
            {% include 'tlv_value_in_ascii.html' %}
            {% include 'tlv_one_liner.html' %}
            {% include 'tlv_non_tlv_neighbor.html' %}
        </div>
        {% include 'remarks.html' %}
        {% include 'button.html' %}
        {% include 'output_data.html' %}
        {% include 'sample_data.html' %}
    </form>
{% endblock %}