<!-- Common Content -->
{% extends 'base.html' %}
{% block description %}{{app_description}}{% endblock %}
{% block title %}{{app_title}}{% endblock %}
<!-- Page Specific Content -->
{% block content %}
    <h1>Welcome to {{app_title}} {{app_version}}</h1>
    <a href="{{app_github_url}}" rel="noopener noreferrer" target="_blank">
        <span class="badge badge-success">@Github</span>
    </a>
    <BR>
    <h6>{{app_description}}</h6>
    <form method="post">
        <div class="form-group">
            <label for="raw_data">Raw Data</label>
            <textarea name="raw_data" placeholder="Raw Data" class="form-control">{{raw_data}}</textarea>
        </div>
        <div class="form-group">
            <label for="input_format">Input Format</label>
            <select name="input_format" class="form-control" placeholder="Input Format">
                {% for input_format in input_formats %}
                    {% if input_format == selected_input_format: %}
                        <option value="{{input_format}}" SELECTED>{{input_format}}</option>
                    {% else %}
                        <option value="{{input_format}}">{{input_format}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="output_format">Output Format</label>
            <select name="output_format" class="form-control" placeholder="Output Format">
                {% for output_format in output_formats %}
                    {% if output_format == selected_output_format: %}
                        <option value="{{output_format}}" SELECTED>{{output_format}}</option>
                    {% else %}
                        <option value="{{output_format}}">{{output_format}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="asn1_element">Asn1 Element</label>
            <select name="asn1_element" class="form-control" placeholder="Asn1 Element">
                {% for asn1_element in asn1_elements %}
                    <option value="{{asn1_element}}" {{ is_selected_asn1_element(asn1_element, selected_asn1_element) }}>{{asn1_element}}</option>
                <!--
                    {% if asn1_element == selected_asn1_element: %}
                        <option value="{{asn1_element}}" SELECTED>{{asn1_element}}</option>
                    {% else %}
                        <option value="{{asn1_element}}">{{asn1_element}}</option>
                    {% endif %}
                   -->
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="tlv_parsing_of_output">TLV Parsing of Output (if possible)</label>
            {% if tlv_parsing_of_output: %}
                <input type="checkbox" name="tlv_parsing_of_output" class="form-check-inline"
                    value="{{tlv_parsing_of_output}}" checked>
            {% else %}
                <input type="checkbox" name="tlv_parsing_of_output" class="form-check-inline"
                    value="{{tlv_parsing_of_output}}">
            {% endif %}
        </div>
        <div class="form-group">
            <label for="remarks_list">Remarks</label>
            <input type="text" name="remarks_list" placeholder="Remarks" class="form-control"
                value="{{remarks_list}}">
            <!--value="{{ request.form['remarks_list'] }}">-->
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="submit" name="process_reset" class="btn btn-primary" disabled>Reset</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" id="process_copy_clipboard" name="process_copy_clipboard" class="btn btn-secondary">Copy Output</button>
            <button type="submit" name="process_download_output" class="btn btn-secondary" disabled>Download Output</button>
            <button type="submit" name="process_download_yml" class="btn btn-secondary" disabled>Download Yml</button>
        </div>
        <div id="output_data">
            <label for="output_data">Output Data</label>
            <div id="output_statement">
                <pre>{{output_data}}</pre>
            </div>
        </div>
        <div id="debug_data">
        </div>
        <BR>
        <h2>Not Sure How To Proceed? Try Below Samples.</h2>
        <div class="form-group">
            <label for="sample_processing">How the Sample should be processed?</label>
            <BR>&nbsp;&nbsp;&nbsp;
            <!-- TODO: Try alternates of "class="form-control", Manual Spaces needs to be removed -->
            {% if sample_processing == 'load_only': %}
                <input type="radio" name="sample_processing" value="load_and_submit">&nbsp;&nbsp;Load & Submit</input>
                <BR>&nbsp;&nbsp;&nbsp;
                <input type="radio" name="sample_processing" value="load_only" checked>&nbsp;&nbsp;Load Only</input>
            {% else %}
                <input type="radio" name="sample_processing" value="load_and_submit" checked>&nbsp;&nbsp;Load & Submit</input>
                <BR>&nbsp;&nbsp;&nbsp;
                <input type="radio" name="sample_processing" value="load_only">&nbsp;&nbsp;Load Only</input>
            {% endif %}
        </div>
        <div class="form-group">
            <button type="submit" name="sample_1" class="btn btn-success">StoreMetaData</button>
            <button type="submit" name="sample_2" class="btn btn-success">StoreMetaData; Asn to Der; Tlv</button>
            <button type="submit" name="sample_3" class="btn btn-success">TCA; Asn to Der</button>
            <button type="submit" name="sample_7" class="btn btn-success">Certificate</button>
            <button type="submit" name="sample_4" class="btn btn-success">Der to Base64</button>
            <button type="submit" name="sample_5" class="btn btn-success">Ascii to Hex</button>
            <button type="submit" name="sample_6" class="btn btn-success">Hex to Ascii</button>
        </div>
    </form>
{% endblock %}