{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Welcome to Amenity Pj {{version}}{% endblock %}</h1>
<a href="https://github.com/impratikjaiswal/AmenityPjApp" target="_blank" rel="noopener noreferrer">
    <span class="badge badge-success">@Github</span>
</a>
    <BR>
    Amenity Pj offers set of Open Source tools.
    <ul>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('asn1_play')}}">asn1Play</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('tlv_play')}}">tlvPlay</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('qr_play')}}">qrPlay</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('excel_play')}}">excelPlay</a>
        </li>
    </ul>
{% endblock %}
