<!-- Common Content -->
{% extends 'base.html' %}
{% block title %}{{app_title}}{% endblock %}
<!-- Page Specific Content -->
{% block content %}
    <h1>Welcome to {{app_title}} {{app_version}}</h1>
    <a href="{{app_github_url}}" rel="noopener noreferrer" target="_blank">
        <span class="badge badge-success">@Github</span>
    </a>
    <BR>
    {{app_title}} offers set of Open Source tools.
    <ul>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('asn1_play')}}" target="_blank"
               rel="noopener noreferrer">asn1Play</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('tlv_play')}}" target="_blank"
               rel="noopener noreferrer">tlvPlay</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('qr_play')}}" target="_blank"
               rel="noopener noreferrer">qrPlay</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('excel_play')}}" target="_blank"
               rel="noopener noreferrer">excelPlay</a>
        </li>
    </ul>
{% endblock %}