<div class="form-group col">
    <label for="asn1_object_alternate">Asn1 Object - Others</label>
    <a href="#" class="image" data-toggle="tooltip" data-placement="top" title="Copy Asn1 Object - Others">
        <img id="copy_asn1_object_alternate" class="btn-image-initial" alt="Copy Asn1 Object - Others"
             src={{ url_for('static', filename='images/copy-2/16_16.png') }}>
    </a>
    <input type="text" name="asn1_object_alternate" id="asn1_object_alternate"
           placeholder="Asn1 Object - Others" class="form-control" value="{{ asn1_object_alternate }}">
</div>