<div class="form-group col">
    <label for="asn1_schema">Asn1 Schema</label>
    <a href="#" class="image" data-toggle="tooltip" data-placement="top" title="Copy Asn1 Schema">
        <img id="copy_asn1_schema" class="btn-image-initial" alt="Copy Asn1 Schema"
             src={{ url_for('static', filename='/images/copy-2/16_16.png') }}>
    </a>
    <select name="asn1_schema" id="asn1_schema" class="form-control selectpicker" data-live-search="true"
            placeholder="Asn1 Schema">
        {% for asn1_schema in asn1_schemas %}
            <option value="{{ asn1_schema }}" {{ is_selected_asn1_schema(asn1_schema, asn1_schema_selected) }}>{{ asn1_schema }}</option>
        {% endfor %}
    </select>
</div>