<div class="form-group col">
    <label for="asn1_object">Asn1 Object</label>
    <select name="asn1_object" id="asn1_object" class="form-control selectpicker" data-live-search="true"
            placeholder="Asn1 Object">
        {% for asn1_object in asn1_objects %}
            {% if asn1_object == asn1_object_selected %}
                <option value="{{ asn1_object }}" SELECTED>{{ asn1_object }}</option>
            {% else %}
                <option value="{{ asn1_object }}">{{ asn1_object }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>