<div class="form-group col">
    <label for="url_time_out">URL Time Out</label>
    <a href="#" class="image" data-toggle="tooltip" data-placement="top" title="Copy URL Time Out">
        <img id="copy_url_time_out" class="btn-image-initial" alt="Copy URL Time Out"
             src={{ url_for('static', filename='images/copy-2/16_16.png') }}>
    </a>
    <select name="url_time_out" class="form-control selectpicker" data-live-search="true"
            placeholder="Input Format" id="url_time_out">
        {% for url_time_out in url_time_outs %}
            <option value="{{ url_time_out }}" {{ is_selected_url_time_out(url_time_out, url_time_out_selected) }}>{{ url_time_out }}</option>
        {% endfor %}
    </select>
</div>
