<div class="form-group">
    <label for="content_mappings">Content Mappings</label>
    <a href="#" class="image" data-toggle="tooltip" data-placement="top" title="Copy Content Mappings">
        <img id="copy_content_mappings" class="btn-image-initial" alt="Copy Content Mappings"
             src={{ url_for('static', filename='images/copy-2/16_16.png') }}>
    </a>
    <input type="text" name="content_mappings" id="content_mappings" placeholder="Content Mappings" class="form-control"
           value="{{ content_mappings }}">
</div>
