<div>
    <h1 class="display-inline">{{ app_header_pre }}{{ app_header }}{{ app_version }}{{ app_header_post }}</h1>
    <h5 class="display-inline">{{ app_parent_title }}{{ app_parent_version }}</h5>
    {% if app_host %}
        <h6 class="display-inline">({{ app_host }})</h6>
    {% endif %}
    {% if app_git_summary %}
        <a class="very-small a-float-right" data-toggle="collapse" href="#gitInfoCollapse" role="button"
           aria-expanded="false" aria-controls="gitInfoCollapse">Git Info</a>
        <BR>
        <div class="collapse very-small right" id="gitInfoCollapse">{{ app_git_summary }}</div>
    {% endif %}
    {% if app_github_pages_url %}
        <a href="{{ app_github_pages_url }}" rel="noopener noreferrer" target="_blank">
            <span class="badge badge-success">@Github</span>
        </a>
    {% endif %}
    {% if samples %}
        <a href="#samples_section" rel="noopener noreferrer">
            <span class="badge badge-info">Jump To Samples</span>
        </a>
    {% endif %}
    <BR>
    <div>
        {% if app_description %}
            <h5>{{ app_description }}</h5>
        {% endif %}
        {% if app_description_level_1 %}
            <h1>{{ app_description_level_1 }}</h1>
        {% endif %}
        {% if app_description_level_2 %}
            <h2>{{ app_description_level_2 }}</h2>
        {% endif %}
        {% if app_description_level_3 %}
            <h3>{{ app_description_level_3 }}</h3>
        {% endif %}
        {% if app_description_level_4 %}
            <h4>{{ app_description_level_4 }}</h4>
        {% endif %}
        {% if app_description_level_5 %}
            <h5>{{ app_description_level_5 }}</h5>
        {% endif %}
        {% if app_description_level_6 %}
            <h6>{{ app_description_level_6 }}</h6>
        {% endif %}
    </div>
</div>