<div class="form-group col">
    <label for="qr_code_version">Qr Code Version</label>
    <a href="#" class="image" data-toggle="tooltip" data-placement="top" title="Copy Qr Code Version">
        <img id="copy_qr_code_version" class="btn-image-initial" alt="Copy Qr Code Version"
             src={{ url_for('static', filename='images/copy-2/16_16.png') }}>
    </a>
    <select name="qr_code_version" class="form-control selectpicker" data-live-search="true"
            placeholder="Qr Code Version" id="qr_code_version">
        {% for qr_code_version in qr_code_versions %}
            <option value="{{ qr_code_version }}" {{ is_selected_qr_code_version(qr_code_version, qr_code_version_selected) }}>{{ qr_code_version }}</option>
        {% endfor %}
    </select>
</div>
