<div class="form-group col">
    <div class="form-check form-check-with-other-components">
        {% if decorate_qr %}
        <input type="checkbox" name="decorate_qr" class="form-check-input"
                   value="{{ decorate_qr }}" checked>
        {% else %}
            <input type="checkbox" name="decorate_qr" class="form-check-input"
                   value="{{ decorate_qr }}">
        {% endif %}
        <label for="decorate_qr" class="form-check-label">Decorate Qr</label>
    </div>
</div>