<div class="form-group col">
    <label for="image_format">Image Format</label>
    <a href="#" class="image" data-toggle="tooltip" data-placement="top" title="Copy Image Format">
        <img id="copy_image_format" class="btn-image-initial" alt="Copy Image Format"
             src={{ url_for('static', filename='/images/copy-2/16_16.png') }}>
    </a>
    <select name="image_format" class="form-control selectpicker" data-live-search="true"
            placeholder="Qr Code Version" id="image_format">
        {% for image_format in image_formats %}
            <option value="{{ image_format }}" {{ is_selected_image_format(image_format, image_format_selected) }}>{{ image_format }}</option>
        {% endfor %}
    </select>
</div>